table{
    width: 50%;
    text-align: center;
    margin: 100px auto;
    border-collapse: collapse;   
}
table,th,td{
    border: 1px solid gray;   
}
th{
    height: 75px;
}
td{
    height: 50px;
}