ol,ul{
    background-color: brown;
    margin:30px;
    border:1px solid black;
    border-radius: 30px;
    width:15%;
    display:inline-block;

}
li{
    background-color: red;
    color: white;
    border: 1px solid white;
    margin:10px;
    padding:10px;
    border-radius: 30px;

}
li:hover{
    background-color: blue;
}